body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: arial;
    color: white;
    overflow-y: hidden;
}
.img{
    background-color: #0054C6;
    height: 100%; 
    width: 100%;
    background-position: center;
    background-size: cover;
}
.table {
    border: 1px solid black;
    padding-left: 8px;    
    border-collapse: collapse;
    background-color: #0B6CF0;
}
td, tr {
    padding: 25px;
    font-size: 20px;
    border-bottom: 1px solid darkgrey;
}
#setP1 {
    background-color: #005BD6;
}
#setP2 {
    background-color: #0B6CF0;
}
.div1 {
    float: left;
}
.div2 {
    display: inline-block;
}
.div3 {
    float: right;
}
#row_top {
    font-weight: bold;
}
#game_text {
    margin-top: 1%;
}
.btn {
    margin-top: 0.25%;
    margin-left: 0.25%;
}
#popup_big{
    display: inline-block;
    position: absolute;
    display: none;
}
#popup {
    display: inline-block;
    position: absolute;
    float: left;
}
button {
    background-color: #0B6CF0;
    border-radius: 7px;
    border-color: #005BD6;
    color: white;
}
input {
    border-radius: 7px;
    border-color: lightblue;
    color: white;
}
#P1_name_change {
    background-color: #005BD6;
}
#P2_name_change {
    background-color: #0B6CF0;
}
#b6 {
    margin-top: 1%;
    margin-left: 73%;
    position: absolute;
}
#end_table {
    margin-left: 3%;
    margin-top: 4%;
}
#popup_text {
    top: 3%;
    position: absolute;
    margin-left: 3%;
}
