body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.img{
    background-image: url("pingpong.jpg");
    height: 100%; 
    width: 100%;
    background-position: center;
    background-size: cover;
}
.table {
    border-radius: 5px;
    border: 1px solid black;
    padding-left: 8px;    
    border-collapse: collapse;
    background-color: lightgray;
}
td, tr {
    padding: 25px;
    font-size: 40px;
}
.div_table {    
    border: grey;
    height: 80%;
    width: 100%;
}
#setP1 {
    background-color: black;
}
#setP2 {
    background-color: lightgrey;
}
