body {
    background-image: url("pingpong.jpg");
}
#border {
    border-color: red;
    border-top-color: blue;
    border-right-color: blue
    border-left-color: blue;
    border-bottom-color: blue;
}
#b1{
    float: left;
    margin-top: 10px;
    margin-left: 41%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}
#b2 {
    float: right;
    margin-top: 10px;
    margin-right: 41%;
}
#b3 {
    margin-top: 15px;
}
#cells {   
    background-color: red;
}
#end_screen {
    margin-top: 25px;
}
#setP1 {
    background-color: blue;
}
#setP2 {
    background-color: red;
}
